#net{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
a.active{
     background-color: rgb(253, 254, 254); 
     border-radius: 70%;
     border-spacing: 1px;
}
.navbar-nav{
    padding-right:2%; 
}